@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/* base rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
/* theme */
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
  --course-color: #3d86fa;
}
html {
  font-size: 62.5%;

  /* 1rem=10px */
}
bdoy {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins" sans-serif;
}
p,
li,
a {
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  color: var(--para-color);
}

a .fa-user {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
samp {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}

.fa-user {
  color: var(--heading-color);
}

/* layout */
.container {
  /* max-width: 142rem; */

  /* 1420px */
  margin: 0 10%;
  /* padding: 9.6rem 2.4rem; */
  padding-bottom: 7.4rem;
}
/*-- ============= start main section=============  */
.section-grid--grid-two--cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/*-- ============= End main section=============  */

/* module / reusable */

/* states */

/* section-navbar */
.section-navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;

  & a {
    display: inline;
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
  }
  & a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.3rem;
    border-bottom: 0.2rem solid var(--main-color);
    width: 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }

  & a:hover::after {
    width: 100%;
  }
}

/*-- ============= start main section=============  */

main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #b3d2ff,
    #ebf3fe
  );
}
.section-image img {
  width: 100%;
  height: auto;
}
.btn {
  padding: 1rem 2.2rem;
  background-color: var(--main-color);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.3rem;
  text-transform: capitalize;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;

  &:hover {
    background-color: var(--bnt-hover-bg-color);
  }
}
.section-grid--grid-two--cols {
  align-items: center;
  gap: 6.4rem;
}
.grid-three--cols {
  display: grid;
  padding: 0 10%;
  gap: 4.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.container {
  padding-top: 5.4rem;
}
.hero-sub-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--bnt-hover-bg-color);
  font-weight: 700;
}
.hero-heading {
  padding-bottom: 1.3rem;
  font-size: 5.8rem;
  text-transform: capitalize;
  font-family: "Urbanist", sans-serif;
  color: var(--bnt-hover-bg-color);

  font-weight: 800;
}
h1 samp {
  padding-bottom: 1.3rem;
  font-size: 5.8rem;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Urbanist", sans-serif;
  color: var(--bnt-hover-bg-color);
  font-weight: 800;
  position: relative;
}

h1 samp::after {
  content: "Rashedul Islam";
  display: inline-block;
  position: absolute;
  color: var(--bg-color);
  top: 0;
  left: 0;
  width: 60%;
  overflow: hidden;
  border-right: 0.2rem solid var(--bnt-hover-bg-color);
  animation: text-revil 4.5s linear infinite alternate;
  -webkit-animation: text-revil 4.5s linear infinite alternate;
}
@keyframes text-revil {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    color: var(--bnt-hover-bg-color);
  }
}
.discription {
  color: var(--para-color);
  padding-bottom: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
}
/* shape divider */
.custom-shape-divider-bottom-1744049628 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1744049628 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.custom-shape-divider-bottom-1744049628 .shape-fill {
  fill: #ffffff;
}
.discription {
  color: var(--bg-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.three {
  display: flex;
  flex-direction: column;
  color: var(--para-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.para-four {
  color: var(--para-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.two {
  color: var(--para-color);
}

/*-- ============= End main section=============  */

/* -- ============= start about section=============  */
.about-div {
  text-align: center;
  padding-bottom: 6.3rem;
}
.about-heading {
  padding-bottom: 2rem;
  font-size: 2.6rem;
}
.section-about .container {
  padding: 10rem 0 15rem 0;
}
.about-common--heading {
  font-size: 2.5rem;
  padding: 3.5rem 0 2rem 0;
  text-transform: capitalize;
}
.about-div .icon img {
  width: 13rem;
  height: auto;

  background-color: var(--supporting-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about-div .icon {
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.about-div .icon:hover {
  cursor: pointer;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.container-course {
  background-color: var(--supporting-color);
  padding-bottom: 6rem;
}
.container {
  padding: 6rem 0rem;
}
.grid-four-cols {
  padding: 0 10%;
}
.icone .fa-solid {
  font-size: 2rem;
  padding: 1rem;

  border-radius: 50%;
  margin-bottom: 1rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sub-titel {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.grid-four-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem 6.4rem;
}
.container-course-box {
  text-transform: capitalize;
  padding: 2rem 2rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.container-course-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grid-four-cols {
  color: var(--course-color);
}

.btn-learing-more .btn {
  /* padding-right: 2rem; */
  margin-top: 2rem;
  width: 100%;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.course-container :nth-child(1) .icone .fa-solid {
  color: #af72af;
  background-color: #f1caf1;
}
.course-container :nth-child(2) .icone .fa-solid {
  color: #aaaa0b;
  background-color: #f1f1ca;
}
.course-container :nth-child(3) .icone .fa-solid {
  color: #8427cf;
  background-color: #c066c0;
}
.course-container :nth-child(4) .icone .fa-solid {
  color: #d808c7;
  background-color: #c280a9;
}
.course-container :nth-child(5) .icone .fa-solid {
  color: #d80858;
  background-color: #e28fa8;
}
.course-container :nth-child(6) .icone .fa-solid {
  color: #08d808;
  background-color: #99e28f;
}
.course-container :nth-child(7) .icone .fa-solid {
  color: #bd540e;
  background-color: #e2b08f;
}
.course-container :nth-child(8) .icone .fa-solid {
  color: #da180a;
  background-color: #e28f8f;
}
/* -- ============= End course section=============  */

/* -- =============Start Why Choose-me section=============  */
.why-choose--me {
  padding: 6rem 10%;
}
.container-heading h3 {
  font-size: 2.7rem;
  padding-bottom: 2rem;
}

/* -- ============= End Why Choose-me section=============  */

.section-contact-homepage {
  width: 60%;
  height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section-contact-homepage img {
  width: 100%;
}
.contact-content {
  font-size: 3rem;
}
.content-discription {
  font-size: 1.6rem;
  padding: 1rem 0 1rem 0;
}
.btn .fa-arrow-right {
  color: var(--main-color);
  padding: 1rem;
  background-color: var(--supporting-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.contact-btn--page {
  font-size: 1.8rem;
  color: var(--bg-color);
}

/* footer */
footer {
  color: white;
  margin-top: 6.4rem;
  background-color: rebeccapurple;
}
.footer-section {
  margin: 0 auto;
}
.grid-four-cols {
  display: grid;
  place-content: center;
}
.section-contact-homepage {
  z-index: 1;
}
